* {
    font-family: Helvetica, sans-serif;
    background-color: #e6e6e6;
}

h1 {
    font-size: 2rem;
}

#title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

.recipe_listing {
    list-style: none;
}

.header_image {
    width: 500px;
    height: auto;
}